* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* --------------------------- POSTCARD ---------------------------*/
.container {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.post {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
}
.post:hover {
  transform: scale(1.03);
}
.post img {
  max-width: 100%;
}
.post-content {
  padding: 30px;
}

/* --------------------------- BUTTON ---------------------------*/
.button-container {
  min-height: 100px;
  display: flex;
  align-items: flex-end;
}

.button {
  width: 100%;
  background: darkblue;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}

/* --------------------------- TEXT INPUT ---------------------------*/
.search-container {
  padding-bottom: 30px;
}
.text-input {
  width: 50%;
  font-size: 15px;
  padding: 5px 10px;
}